@import "../blocks/topline"
@import "../blocks/hero"

.header
   position: relative
   padding: 46px 0 134px
   color: $white
   background-color: $purple
   background-image: linear-gradient(to right, rgba(255, 255, 255, 0.21) 0%, rgba(0, 0, 1, 0.21) 100%)

   &__bg-wrap
      position: absolute
      height: 100%
      width: 100%
      bottom: 0
      z-index: -1
      overflow: hidden
   &__bg
      position: absolute
      left: 40%
      bottom: -100px
      width: 100%
      height: 100%
      z-index: -1
      background-repeat: no-repeat
      background-position-y: 100%
      background-position-x: 0

   &__topline
      margin-bottom: 50px

@media (max-width: 1799px)
   .header
      &__bg
         left: 35%

@media (max-width: 1280px)
   .header
      &__bg
         left: 28%

@media (max-width: 1080px)
   .header
      &__bg
         background-size: 80%

@media (max-width: 768px)
   .header
      padding-bottom: 50px
      &__bg
         display: none

@media (max-width: 480px)
   .header
      padding: 25px 0

@media (max-width: 480px)
   .header
      &__topline
         margin-bottom: 30px
