.section
   &-title
      font-size: 30px
      font-weight: 600
      font-family: "Jost"

.text-gray
   color: $gray
.btn
   padding: 22px 30px
   color: $white
   text-align: center
   line-height: 1.3
   box-shadow: 10px 17px 29px rgba(0, 0, 0, 0.13)
   background-color: $orange
   cursor: pointer
   transition: background-color .3s
   &:hover
      background-color: darken($orange, 4%)

   &_blue
      background-color: $dark-blue
      &:hover
         background-color: darken($dark-blue, 4%)
   &_arrow
      padding-right: 36px
      clip-path: polygon(96% 0, 100% 50%, 96% 100%, 0 100%, 0 0)

/*======================== MEDIA QUERIES ===============================*/

@media (max-width: 568px)
   .section-title
      font-size: 25px

