// ====== FONTS =====
$main-font:           "Proxima Nova", serif
$secondary-font:      "Jost", serif

// ===== COLORS =====
$text-color:          #2a2a2a
$white:               #fff
$blue:                #0eadff
$orange:              #ff8000
$dark-blue:           #118cff
$violet:              #4d46b0
$purple:              #574fb8
$gray:                #818181

//$light-gray:          #b3b3b3
//$yellow:              #ffc100
//$accent:              #0041c1
//
//$input-bg:            #e7e7e7
$placeholder-color:   #626262


// ===== BASE =====
$wrapper:             1140px
