// ====== FONTS =====
$main-font:           "Proxima Nova", sans-serif

// ===== COLORS =====
$text-color:          #2a2a2a
$gray:                #8b8b8b
$light-gray:          #b3b3b3
$yellow:              #ffc100
$blue:                #0041c1
$accent:              #0041c1

$input-bg:            #e7e7e7
$placeholder-color:   #626262


$telegram:            #039be5
$whatsapp:            #4caf50
$viber:               #a654bc
$skype:               #03a9f4


// ===== BASE =====
$wrapper:             1198px
