-
  let mainData = {
    name: 'HPE ProLiant DL360 Gen10',
    slogan: 'Стандарт исключительной гибкости и непревзойденной расширяемости',
    description: 'Двухпроцессорный сервер HPE ProLiant DL360 Gen10 – идеальное техническое решение для обеспечения бесперебойной работы больших и средних предприятий.',
    tabs: ['about', 'specification', 'models', 'parts', 'configurator']
  }

// Технические характеристики
-
  let specification = {
    processor: 'Intel',
    processorFamily: 'Intel® Xeon® Scalable серии 8100/8200 — Intel® Xeon® Scalable серии 3100/3200',
    processorCores: '4–28 ядер в зависимости от модели',
    processorCache: '8,25–38,5 Мбайт L3, в зависимости от модели процессора',
    memoryMax: '3 Тбайт с 128 Гбайт DDR4; 6 Тбайт с комплектом модулей энергонезависимой памяти HPE Persistent Memory 2666 512 Гбайт',
    memorySlots: '24 слота DIMM',
    memoryType: 'Память HPE DDR4 SmartMemory и энергонезависимая память HPE Persistent Memory, в зависимости от модели',
    nvdimmType: 'HPE NVDIMM-N<br><span>*Доступно только в 1-м поколении масштабируемых процессоров Intel® Xeon® Scalable</span>',
    nvdimmRank: 'Одноранговый',
    nvdimmCapacity: '16 Гбайт',
    storage: '4 накопителя SAS/SATA большого форм-фактора, 8 накопителей SAS/SATA малого форм-фактора и 2 накопителя NVMe, 10 накопителей SAS/SATA малого форм-фактора, 10 накопителей NVMe малого форм-фактора, 1 дополнительный накопитель малого форм-фактора или 1 накопитель форм-фактора Dual UFF в заднем отсеке (в зависимости от модели)',
    controller: 'Встроенный адаптер Ethernet 4 X 1GbE (некоторые модели) или плата HPE FlexibleLOM и дополнительные вертикальные платы PCIe в зависимости от модели',
    infrasrtuctureManaging: 'HPE iLO в стандартной комплектации с функцией Intelligent Provisioning (встроенная), HPE OneView Standard (требуется загрузка); дополнительно: HPE iLO Advanced и HPE OneView Advanced (требуются лицензии)',
    fanFunctions: 'Горячая замена, резервирование',
    extendedSlots: '3, подробную информацию см. в кратких технических характеристиках',
    storageController: 'Контроллер HPE Smart Array S100i и/или HPE Essential или высокопроизводительные RAID-контроллеры, в зависимости от модели',
    warranty: 'Гарантия на сервер 3/3/3 — по три года на комплектующие, работу и обслуживание на месте. Подробные сведения о международной ограниченной гарантии и технической поддержке см. по адресу: http://h20564.www2.hpe.com/hpsc/wc/public/home. Компания HPE предлагает приобрести дополнительную поддержку и обслуживание в вашем регионе. Информацию о дополнительном обслуживании и его стоимости см. на веб-сайте HPE http://www.hpe.com/support',
    processorModel: 'Intel',
    processorCount: '1 или 2',
    processorSpeed: '3,9 ГГц (максимум), в зависимости от процессора',
    memoryVolume: '3 Тбайт (24 X 128 Гбайт) LRDIMM; 6 Тбайт (12 X 512 Гбайт) энергонезависимой памяти HPE Persistent Memory',
    safety: 'Дополнительный комплект запирающихся панелей, комплект для обнаружения вторжений и HPE TPM 2.0',
    formFactor: '1U',
    weight_en: '28.74 lb minimum, 37 lb maximum',
    weight_ru: '13,04 кг (минимум), 16,78 кг (максимум)',
    size_en: 'SFF Chassis: 1.69 x 17.11 x 27.83 in, LFF Chassis: 1.69 x 17.11 x 29.5 in',
    size_ru: 'Корпус малого форм-фактора: 4,29 x 43,46 x 70,7 см, корпус большого форм-фактора: 4,29 x 43,46 x 74,98 см',
  }

// Модели
-
   let models = {
     'P40636-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 4208 2,1 ГГц/8 ядер/32 Гбайт регистровой памяти/P408i-a NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P19774-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 4208, 16 Гбайт RDIMM/P408i-a/NC/8 накопителей малого форм-фактора/БП 500 Вт',
     'P19776-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 4208/16 Гбайт RDIMM/S100i/NC/4 накопителя большого форм-фактора/БП 500 Вт',
     'P19779-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 4210/16 Гбайт RDIMM/P408i-a/NC/8 накопителей малого форм-фактора/БП 500 Вт',
     'P40637-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 4210R 2,4 ГГц/10 ядер/32 Гбайт регистровой памяти/P408i-a NC/ 8 накопителей малого форм-фактора/БП 800 Вт',
     'P23578-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 4210R/16 Гбайт RDIMM/P408i-a/NC/8 накопителей малого форм-фактора/БП 500 Вт',
     'P19775-B21': 'HPE ProLiant DL360 Gen10, 1 ЦП 4214, 16 Гбайт RDIMM, P408i-a, NC, 8 накопителей малого форм-фактора, БП 500 Вт',
     'P23579-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 4214R, 32 Гбайт RDIMM/P408i-a/NC/ 8 накопителей малого форм-фактора/БП 500 Вт',
     'P40638-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 4215R 3,2 ГГц/8 ядер/32 Гбайт регистровой памяти/P408i-a NC/8 накопителей малого форм-фактора/ БП 800 Вт',
     'P40409-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 4215R 3,2 ГГц/ 8 ядер/32 Гбайт регистровой памяти/S100i NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P23577-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 4215R/32 Гбайт RDIMM/S100i/NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P19176-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 5217/32 Гбайт RDIMM/P408i-a/NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P19777-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 5218/32 Гбайт RDIMM/P408i-a/NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P40408-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 5218R 2,1 ГГц/20 ядер/32 Гбайт регистровой памяти/S100i NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P24740-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 5218R/32 Гбайт RDIMM/S100i/NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P36183-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 5218R/32 Гбайт RDIMM/S100i/NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P19177-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 5220/32 Гбайт RDIMM/P408i-a/NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P40407-B21': 'HPE ProLiant DL360 Gen10/ 1 ЦП 5220R 2,2 ГГц/ 24 ядра/ 32 Гбайт регистровой памяти/ S100i NC/ 8 накопителей малого форм-фактора/ резервный блок питания 800 Вт',
     'P24741-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 5220R/32 Гбайт RDIMM/S100i/NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P40404-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 5222 3,8 ГГц, 4 ядра/32 Гбайт регистровой памяти/P408i-a NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P19178-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 5222/32 Гбайт RDIMM/P408i-a/NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P40406-B21': 'Сервер HPE ProLiant DL360 Gen10/1 ЦП 6226R 2,9 ГГц/16 ядер/32 Гбайт регистровой памяти/S100i NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P24742-B21': 'Сервер HPE ProLiant DL360 Gen10/1 ЦП 6226R/32 Гбайт RDIMM/S100i/NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P19778-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 6230/32 Гбайт RDIMM/ P408i-a/ NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P40403-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 6234 3,3 ГГц/8 ядер/ 32 Гбайт регистровой памяти/P408i-a NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P19179-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 6234/32 Гбайт RDIMM/P408i-a/NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P40402-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 6242 2,8 ГГц/16 ядер/32 Гбайт регистровой памяти/P408i-a NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P19180-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 6242/32 Гбайт RDIMM/P408i-a/NC/8 накопителей малого форм-фактора,/БП 800 Вт',
     'P40405-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 6248R 3,0 ГГц/24 ядра/32 Гбайт регистровой памяти/S100i NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P24743-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 6248R/32 Гбайт RDIMM/S100i/ NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P40399-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 6250 3,9 ГГц/8 ядер/32 Гбайт регистровой памяти/S100i NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P24744-B21': 'HPE ProLiant DL360 Gen10/1 ЦП 6250/32 Гбайт RDIMM/S100i/NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P40401-B21': 'HPE ProLiant DL360 Gen10/2 ЦП 5220 2,2 ГГц/18 ядер/64 Гбайт регистровой памяти/P408i-a NC/8 накопителей малого форм-фактора/БП 800 Вт',
     'P19771-B21': 'HPE ProLiant DL360 Gen10/2 ЦП 5220/64 Гбайт RDIMM/P408i-a/ NC/8 накопителей малого форм-фактора/ БП 800 Вт с резервированием',
     'P40400-B21': 'HPE ProLiant DL360 Gen10/2 ЦП 6248 2,5 ГГц, 20 ядер/32 Гбайт регистровой памяти/P408i-a NC/8 накопителей малого форм-фактора/резервный блок питания 800 Вт',
     'P19772-B21': 'HPE ProLiant DL360 Gen10/2 ЦП 6248/64 Гбайт RDIMM/P408i-a/NC/8 накопителей малого форм-фактора/БП 800 Вт с резервированием',
   }

//  Комплектующие
- let parts = {}

-
  let servers = {
    '876100-425': 'HPE Proliant DL360Gen10 4114 (2.2GHz-13.75MB) 10-Core (2 max) / 1x32GB (DDR4-2666) RDIMM / P408i-a (2Gb) FBWC / HP-SAS/SATA 2x300 15K (8/8 SFF max) / 4 RJ-45 / 2(2) 500W HotPlug RPS Platinum Halogen / 3-3-3 war',
    '867962-B21': 'HPE Proliant DL360Gen10 4114 (2.2GHz-13.75MB) 10-Core (2 max) / 1x16GB (DDR4-2666) RDIMM / P408i-a (2Gb) FBWC / HP-SAS/SATA no HDD (8/8 SFF max) / 4 RJ-45 / 1(2) 500W HotPlug RPS Platinum Halogen / 3-3-3 war',
    '867963-B21': 'Сервер HPE Proliant DL380Gen10 2x5118 (2.3GHz-16.5MB) 12-Core (2 max) / 2x32GB (DDR4-2666) RDIMM / P408i-a (2Gb) FBWC / HP-SATA/SAS no HDD (8/24 SFF max) / 4 RJ-45 / DVD-RW / 2(2) 800W HotPlug RPS Platinum Halogen / 3-3-3 war',
    '826567-B21': 'HPE Proliant DL360Gen10 5118 Rack(1U)/2xXeon12C 2.3GHz(16.5Mb)/2x16GbR2D_2666/P408i-aFBWC(2Gb/RAID 0/1/10/5/50/6/60)/noHDD(8/ 10+1up)SFF/noDVD/iLOadv/7HPfan/4x1GbEth/2x10/25GB640FLR-SFP/ EasyRK/2x800w',
    '867964-B21': 'HPE Proliant DL360Gen10 2x6130 (2.1GHz-22MB) 16-Core (2 max) / iLO Adv / 2x32GB (DDR4-2666) RDIMM / P408i-a (2Gb) FBWC / HP-SAS/SATA (10/10 SFF max) / 4 RJ-45 2x10/25Gb (640FLR) / 2(2) 800W HotPlug RPS Platinum Halogen / 3-3-3 war',
    'Q9F00A': 'HPE Proliant DL360 Gen10, 1(up2)x 3104 Xeon-B 6C 1.7GHz, 1x16GB-R DDR4, E208i-a/ZM (RAID 0,1,5,10) noHDD (4 LFF 3.5\'\' HP) 1x500W (up2), 4x1Gb/s, noDVD, iLO5, Rack1U, 3-3-3',
    'Q9F01A': 'HPE Proliant DL360 Gen10, 1(up2)x 3106 Xeon-B 8C 1.7GHz, 1x16GB-R DDR4, E208i-a/ZM (RAID 0,1,5,10) 2x300GB SAS 10K 12G (8 SFF 2.5" HP) 1x500W (up2), 4x1Gb/s, noDVD, iLO5, Rack1U, 3-3-3',
    '843375-425': 'HPE Proliant DL360 Gen9 E5-2620v4 Rack(1U)/Xeon8C 2.1GHz(20MB)/1x16GbR1D_2400/P440arFBWC(2GB/RAID 0/1/10/5/50/6/60)/2x300_10K_12G(8)SFF/UMB&DVDRW/iLOstd/4x1GbEth/EasyRK&CMA',
    '875840-425': 'HPE Proliant DL360Gen10 1(up2)xSilver 4110 8C 2.1 GHz 1x16GB-R DDR4-2666T, P408i-a/2GB (RAID 1+0/5/5+0/6/6+0/1+0 ADM) 2x 300GB SAS 15K 12G (8 SFF 2.5" HP) 1x500W (up2), 4x1Gb/s, noDVD, iLO5, Rack1U, 3-3-3',
    '867961-B21': 'HPE Proliant DL360 Gen10, 1(up2)x 3106 Xeon-B 8C 1.7GHz, 1x16GB-R DDR4, S100i/ZM (RAID 0,1,5,10) noHDD (8 SFF 2.5" HP) 1x500W (up2), 4x1Gb/s, noDVD, iLO5, Rack1U, 3-3-3',
    'P06453-B21': 'HPE Proliant DL360 Gen10, 1(up2)x 4110 Xeon-S 8C 2.1GHz, 1x16GB-R DDR4, P408i-a/2GB (RAID 1+0/5/5+0/6/6+0/1+0 ADM) noHDD (8 SFF 2.5" HP) 1x500W (up2), 4x1Gb/s, noDVD, iLO5, Rack1U, 3-3-3',
    'P06454-B21': 'HPE Proliant DL360 Gen10, 1(up2)x 5118 Xeon-G 12C 2.3GHz, 1x32GB-R DDR4, P408i-a/2GB (RAID 1+0/5/5+0/6/6+0/1+0 ADM) noHDD (8 SFF 2.5" HP) 2x800W), 4x1Gb/s, noDVD, iLO5, Rack1U, 3-3-3',
    'P06455-B21': 'HPE Proliant DL360 Gen10, 1(up2)x 6130 Xeon-G 16C 2.1GHz, 2x32GB-R DDR4, P408i-a/2GB (RAID 1+0/5/5+0/6/6+0/1+0 ADM) noHDD (8 SFF 2.5" HP) 2x800W), 4x1Gb/s, noDVD, iLO5, Rack1U, 3-3-3',
  }

-
  let processors = {
    '815100-B21': 'HPE 32GB (1x32GB) Dual Rank x4 DDR4-2666 CAS-19-19-19 Registered Memory Kit',
    '835955-B21': 'HPE 16GB (1x16GB) Dual Rank x8 DDR4-2666 CAS-19-19-19 Registered Memory Kit',
    '815098-B21': 'HPE 16GB (1x16GB) Single Rank x4 DDR4-2666 CAS-19-19-19 Registered Memory Kit',
    '815097-B21': 'HPE 8GB (1x8GB) Single Rank x8 DDR4-2666 CAS-19-19-19 Registered Memory Kit',
    '815101-B21': 'HPE 64GB (1x64GB) Quad Rank x4 DDR4-2666 CAS-19-19-19 Load Reduced Memory Kit',
    '815102-B21': 'HPE 128GB (1x128GB) Octal Rank x4 DDR4-2666 CAS-22-19-19 3DS Load Reduced Memory Kit',
  }

-
  let HDD = {
    '870753-B21': 'HPE 300GB SAS 12G Enterprise 15K SFF (2.5in) SC 3yr Wty Digitally Signed Firmware HDD',
    '872475-B21': 'HPE 300GB SAS 12G Enterprise 10K SFF (2.5in) SC 3yr Wty Digitally Signed Firmware HDD',
    '870763-B21': 'HPE 600GB SAS 12G Enterprise 15K SFF (2.5in) SC 3yr Wty Digitally Signed Firmware HDD',
    '872477-B21': 'HPE 600GB SAS 12G Enterprise 10K SFF (2.5in) SC 3yr Wty Digitally Signed Firmware HDD',
    '870759-B21': 'HPE 900GB SAS 12G Enterprise 15K SFF (2.5in) SC 3yr Wty Digitally Signed Firmware HDD',
    '870765-B21': 'HPE 900GB SAS 12G Enterprise 15K SFF (2.5in) SC 3yr Wty 512e Digitally Signed Firmware HDD',
    '870765-B21': 'HPE 900GB SAS 12G Enterprise 15K SFF (2.5in) SC 3yr Wty 512e Digitally Signed Firmware HDD',
    '785069-B21': 'HPE 900GB SAS 12G Enterprise 10K SFF (2.5in) SC 3yr Wty HDD',
    '872479-B21': 'HPE 1.2TB SAS 12G Enterprise 10K SFF (2.5in) SC 3yr Wty Digitally Signed Firmware HDD',
    '872481-B21': 'HPE 1.8TB SAS 12G Enterprise 10K SFF (2.5in) SC 3yr Wty 512e Digitally Signed Firmware HDD',
    '861691-B21': 'HPE 1TB SATA 6G Midline 7.2K LFF (3.5in) SC 1yr Wty HDD',
    '861676-B21': 'HPE 2TB SATA 6G Midline 7.2K LFF (3.5in) SC 1yr Wty HDD',
    '872489-B21': 'HPE 2TB SATA 6G Midline 7.2K LFF (3.5in) SC 1yr Wty Digitally Signed Firmware HDD',
    '861693-B21': 'HPE 3TB SATA 6G Midline 7.2K LFF (3.5in) SC 1yr Wty Digitally Signed Firmware HDD',
    '861678-B21': 'HPE 4TB SATA 6G Midline 7.2K LFF (3.5in) SC 1yr Wty HDD',
    '861752-B21': 'HPE 4TB SATA 6G Midline 7.2K LFF (3.5in) SC 1yr Wty 512e HDD',
    '872491-B21': 'HPE 4TB SATA 6G Midline 7.2K LFF (3.5in) SC 1yr Wty Digitally Signed Firmware HDD',
    '846510-B21': 'HPE 6TB SATA 6G Midline 7.2K LFF (3.5in) SC 1yr Wty Digitally Signed Firmware HDD',
    '861750-B21': 'HPE 6TB SATA 6G Midline 7.2K LFF (3.5in) SC 1yr Wty 512e HDD',
    '819203-B21': 'HPE 8TB SATA 6G Midline 7.2K LFF (3.5in) SC 1yr Wty 512e Digitally Signed Firmware HDD',
    '861594-B21': 'HPE 8TB SATA 6G Midline 7.2K LFF (3.5in) SC 1yr Wty Helium 512e Digitally Signed Firmware HDD',
    '857648-B21': 'HPE 10TB SATA 6G Midline 7.2K LFF (3.5in) SC 1yr Wty Helium 512e Digitally Signed Firmware HDD',
    '765453-B21': 'HPE 1TB SATA 6G Midline 7.2K SFF (2.5in) SC 1yr Wty 512e Digitally Signed Firmware HDD',
    '655710-B21': 'HPE 1TB SATA 6G Midline 7.2K SFF (2.5in) SC 1yr Wty Digitally Signed Firmware HDD',
    '765455-B21': 'HPE 2TB SATA 6G Midline 7.2K SFF (2.5in) SC 1yr Wty 512e Digitally Signed Firmware HDD',
    '846524-B21': 'HPE 1TB SAS 12G Midline 7.2K LFF (3.5in) SC 1yr Wty HDD',
    '818365-B21': 'HPE 2TB SAS 12G Midline 7.2K LFF (3.5in) SC 1yr Wty HDD',
    '872485-B21': 'HPE 2TB SAS 12G Midline 7.2K LFF (3.5in) SC 1yr Wty Digitally Signed Firmware HDD',
    '846528-B21': 'HPE 3TB SAS 12G Midline 7.2K LFF (3.5in) SC 1yr Wty HDD',
    '818367-B21': 'HPE 4TB SAS 12G Midline 7.2K LFF (3.5in) SC 1yr Wty HDD',
    '861756-B21': 'HPE 4TB SAS 12G Midline 7.2K LFF (3.5in) SC 1yr Wty 512e HDD',
    '872487-B21': 'HPE 4TB SAS 12G Midline 7.2K LFF (3.5in) SC 1yr Wty Digitally Signed Firmware HDD',
    '846514-B21': 'HPE 6TB SAS 12G Midline 7.2K LFF (3.5in) SC 1yr Wty HDD',
    '861754-B21': 'HPE 6TB SAS 12G Midline 7.2K LFF (3.5in) SC 1yr Wty 512e HDD',
    '819201-B21': 'HPE 8TB SAS 12G Midline 7.2K LFF (3.5in) SC 1yr Wty 512e HDD',
    '861590-B21': 'HPE 8TB SAS 12G Midline 7.2K LFF (3.5in) SC 1yr Wty 512e HDD',
    '857644-B21': 'HPE 10TB SAS 12G Midline 7.2K LFF (3.5in) SC 1yr Wty 512e HDD',
    '832514-B21': 'HPE 1TB SAS 12G Midline 7.2K SFF (2.5in) SC 1yr Wty HDD',
    '765464-B21': 'HPE 1TB SAS 12G Midline 7.2K SFF (2.5in) SC 1yr Wty 512e HDD',
    '765466-B21': 'HPE 2TB SAS 12G Midline 7.2K SFF (2.5in) SC 1yr Wty 512e HDD',
    '872390-B21': 'HPE 960GB SAS 12G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '872392-B21': 'HPE 1.92TB SAS 12G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '872394-B21': 'HPE 3.84TB SAS 12G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '872374-B21': 'HPE 400GB SAS 12G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '872376-B21': 'HPE 800GB SAS 12G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '872382-B21': 'HPE 1.6TB SAS 12G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '872386-B21': 'HPE 3.2TB SAS 12G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '872378-B21': 'HPE 800GB SAS 12G Mixed Use LFF (3.5in) SCC 3yr Wty Digitally Signed Firmware SSD',
    '736936-B21': 'HPE 400GB NVMe x4 Lanes Write Intensive SFF (2.5in) SCN 3yr Wty SSD',
    '736939-B21': 'HPE 800GB NVMe x4 Lanes Write Intensive SFF (2.5in) SCN 3yr Wty SSD',
    '764892-B21': 'HPE 1.6TB NVMe x4 Lanes  Write Intensive SFF (2.5in) SCN 3yr Wty SSD',
    '764894-B21': 'HPE 2TB NVMe x4 Lanes Write Intensive SFF(2.5in) SCN 3yr Wty SSD',
    '872355-B21': 'HPE 400GB 6G SATA Write Intensive-2 SFF (2.5-inch) SC SSD',
    '872359-B21': 'HPE 800GB 6G SATA Write Intensive-2 SFF (2.5-inch) SC SSD',
    '872363-B21': 'HPE 1.6TB 6G SATA Write Intensive-2 SFF (2.5-inch) SC SSD',
    '872357-B21': 'HPE 400GB 6G SATA Write Intensive-2 LFF (3.5-inch) SCC SSD',
    '872361-B21': 'HPE 800GB 6G SATA Write Intensive-2 LFF (3.5-inch) SCC SSD',
    '872365-B21': 'HPE 1.6TB 6G SATA Write Intensive-2 LFF (3.5-inch) SCC SSD',
    '869374-B21': 'HPE 150GB SATA 6G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '868814-B21': 'HPE 480GB SATA 6G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '869376-B21': 'HPE 240GB SATA 6G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '868818-B21': 'HPE 480GB SATA 6G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '869378-B21': 'HPE 480GB SATA 6G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '868822-B21': 'HPE 960GB 6G SATA Read Intensive SFF (2.5-inch) SC DS SSD',
    '869384-B21': 'HPE 960GB SATA 6G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '869386-B21': 'HPE 1.6TB SATA 6G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '868826-B21': 'HPE 1.92TB 6G SATA Read Intensive SFF (2.5-inch) SC DS SSD',
    '868830-B21': 'HPE 3.84TB 6G SATA Read Intensive SFF (2.5-inch) SC DS SSD',
    '869380-B21': 'HPE 480GB SATA 6G Read Intensive LFF (3.5in) SCC 3yr Wty Digitally Signed Firmware SSD',
    '869388-B21': 'HPE 1.6TB SATA 6G Read Intensive LFF (3.5in) SCC 3yr Wty Digitally Signed Firmware SSD',
    '765034-B21': 'HPE 400GB NVMe x4 Lanes Mixed Use SFF (2.5in) SCN 3yr Wty SSD',
    '765036-B21': 'HPE 800GB NVMe x4 Lanes Mixed Use SFF (2.5in) SCN 3yr Wty SSD',
    '765038-B21': 'HPE 1.6TB NVMe x4 Lanes Mixed Use SFF (2.5in) SCN 3yr Wty SSD',
    '765044-B21': 'HPE 2TB NVMe x4 Lanes Mixed Use SFF (2.5in) SCN 3yr Wty SSD',
    '872344-B21': 'HPE 480GB SATA 6G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '872348-B21': 'HPE 960GB SATA 6G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '872352-B21': 'HPE 1.92TB SATA 6G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '872346-B21': 'HPE 480GB SATA 6G Mixed Use LFF (3.5in) SCC 3yr Wty Digitally Signed Firmware SSD',
    '872350-B21': 'HPE 960GB SATA 6G Mixed Use LFF (3.5in) SCC 3yr Wty Digitally Signed Firmware SSD',
    '815605-B21': 'HPE 340GB SATA 6G Read Intensive uFF 3yr Wty Dual M.2 Kit',
    '815606-B21': 'HPE 340GB SATA 6G Read Intensive uFF 3yr Wty M.2 Kit',
    '835565-B21': 'HPE 340GB SATA 6G Read Intensive 3yr Wty Dual M.2 Kit',
    '835563-B21': 'HPE 340GB SATA 6G Read Intensive 3yr Wty M.2 Kit',
    '875317-B21': 'HPE 150GB SATA 6G Read Intensive M.2 2280 3yr Wty Digitally Signed Firmware SSD',
    '777264-B21': 'HPE 340GB SATA 6G Read Intensive M.2 2280 3yr Wty Solid State Drive',
    '875319-B21': 'HPE 480GB SATA 6G Read Intensive M.2 2280 3yr Wty Digitally Signed Firmware SSD',
    '765424-B21': 'HPE 600GB SAS 12G Enterprise 15K LFF (3.5in) SC 3yr Wty HDD',
    '737261-B21': 'HPE 300GB SAS 12G Enterprise 15K LFF (3.5in) SCC 3yr Wty HDD',
    '881779-B21': 'HPE 12TB SAS 12G Midline 7.2K LFF (3.5in) SC 1yr Wty Helium 512e Digitally Signed Firmware HDD',
    '881785-B21': 'HPE 12TB SATA 6G Midline 7.2K LFF (3.5in) SC 1yr Wty Helium 512e Digitally Signed Firmware HDD',
    '875480-B21': 'HPE 1.92TB SATA 6G Mixed Use LFF (3.5in) SCC 3yr Wty Digitally Signed Firmware SSD',
    '881457-B21': 'HPE 2.4TB SAS 12G Enterprise 10K SFF (2.5in) SC 3yr Wty 512e Digitally Signed Firmware HDD',
    '870144-B21': 'HPE 7.68TB SAS 12G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '875330-B21': 'HPE 3.84TB SAS 12G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '875326-B21': 'HPE 1.92TB SAS 12G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '875311-B21': 'HPE 480GB SAS 12G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '873357-B21': 'HPE 1.6TB SAS 12G Write Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '873355-B21': 'HPE 800GB SAS 12G Write Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '873351-B21': 'HPE 400GB SAS 12G Write Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '873367-B21': 'HPE 3.2TB SAS 12G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '873365-B21': 'HPE 1.6TB SAS 12G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '873363-B21': 'HPE 800GB SAS 12G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '873359-B21': 'HPE 400GB SAS 12G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '877788-B21': 'HPE 1.92TB SATA 6G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '875478-B21': 'HPE 1.92TB SATA 6G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '877782-B21': 'HPE 960GB SATA 6G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '875474-B21': 'HPE 960GB SATA 6G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '877776-B21': 'HPE 480GB SATA 6G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '875470-B21': 'HPE 480GB SATA 6G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '880295-B21': 'HPE 240GB SATA 6G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '875483-B21': 'HPE 240GB SATA 6G Mixed Use SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '877790-B21': 'HPE 1.92TB SATA 6G Mixed Use LFF (3.5in) SCC 3yr Wty Digitally Signed Firmware SSD',
    '877784-B21': 'HPE 960GB SATA 6G Mixed Use LFF (3.5in) SCC 3yr Wty Digitally Signed Firmware SSD',
    '875476-B21': 'HPE 960GB SATA 6G Mixed Use LFF (3.5in) SCC 3yr Wty Digitally Signed Firmware SSD',
    '875472-B21': 'HPE 480GB SATA 6G Mixed Use LFF (3.5in) SCC 3yr Wty Digitally Signed Firmware SSD',
    '875492-B21': 'HPE 960GB SATA 6G Mixed Use M.2 2280 3yr Wty Digitally Signed Firmware SSD',
    '875490-B21': 'HPE 480GB SATA 6G Mixed Use M.2 2280 3yr Wty Digitally Signed Firmware SSD',
    '875488-B21': 'HPE 240GB SATA 6G Mixed Use M.2 2280 3yr Wty Digitally Signed Firmware SSD',
    '877760-B21': 'HPE 1.92TB SATA 6G Read Intensive LFF (3.5in) SCC 3yr Wty Digitally Signed Firmware SSD',
    '877754-B21': 'HPE 960GB SATA 6G Read Intensive LFF (3.5in) SCC 3yr Wty Digitally Signed Firmware SSD',
    '877748-B21': 'HPE 480GB SATA 6G Read Intensive LFF (3.5in) SCC 3yr Wty Digitally Signed Firmware SSD',
    '877764-B21': 'HPE 3.84TB SATA 6G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '877758-B21': 'HPE 1.92TB SATA 6G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '875513-B21': 'HPE 1.92TB SATA 6G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '875513-B21': 'HPE 1.92TB SATA 6G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '877752-B21': 'HPE 960GB SATA 6G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '875511-B21': 'HPE 960GB SATA 6G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '877746-B21': 'HPE 480GB SATA 6G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '875509-B21': 'HPE 480GB SATA 6G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '877740-B21': 'HPE 240GB SATA 6G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '875503-B21': 'HPE 240GB SATA 6G Read Intensive SFF (2.5in) SC 3yr Wty Digitally Signed Firmware SSD',
    '875500-B21': 'HPE 960GB SATA 6G Read Intensive M.2 2280 3yr Wty Digitally Signed Firmware SSD',
    '875498-B21': 'HPE 480GB SATA 6G Read Intensive M.2 2280 3yr Wty Digitally Signed Firmware SSD',
    '875591-B21': 'HPE 1.92TB NVMe x4 Lanes Read Intensive SFF (2.5in) SCN 3yr Wty Digitally Signed Firmware SSD',
    '875589-B21': 'HPE 960GB NVMe x4 Lanes Read Intensive SFF (2.5in) SCN 3yr Wty Digitally Signed Firmware SSD',
    '875587-B21': 'HPE 480GB NVMe x4 Lanes Read Intensive SFF (2.5in) SCN 3yr Wty Digitally Signed Firmware SSD',
    '875597-B21': 'HPE 1.6TB NVMe x4 Lanes Mixed Use SFF (2.5in) SCN 3yr Wty Digitally Signed Firmware SSD',
    '875595-B21': 'HPE 800GB NVMe x4 Lanes Mixed Use SFF (2.5in) SCN 3yr Wty Digitally Signed Firmware SSD',
    '875593-B21': 'HPE 400GB NVMe x4 Lanes Mixed Use SFF (2.5in) SCN 3yr Wty Digitally Signed Firmware SSD',
  }

-
  let drives = {
    '726536-B21': 'HP 9.5mm SATA DVD-ROM JackBlack Gen9 Optical Drive',
    '726537-B21': 'HP 9.5mm SATA DVD-RW JackBlack G9 Optical Drive',
  }

-
  let blocks = {
    '865408-B21': 'HPE 500W Flex Slot Platinum Hot Plug Low Halogen Power Supply Kit',
    '865438-B21': 'HPE 800W Flex Slot Titanium Hot Plug Low Halogen Power Supply Kit',
    '865414-B21': 'HPE 800W Flex Slot Platinum Hot Plug Low Halogen Power Supply Kit',
    '830272-B21': 'HPE 1600W Flex Slot Platinum Hot Plug Low Halogen Power Supply Kit',
    '865428-B21': 'HPE 800W Flex Slot Universal Hot Plug Low Halogen Power Supply Kit',
    '874571-B21': 'HPE ML350 Gen10 Flex Slot Redundant Power Supply Cage Kit with Power Distribution Board',
  }

-
  let options = {
    '869083-B21': 'HPE Smart Array P816i-a SR Gen10 (16 Int Lanes/4GB Cache/SmartCache) 12G SAS Modular LH Controller',
    '869081-B21': 'HPE Smart Array P408i-a SR Gen10 (8 Internal Lanes/2GB Cache) 12G SAS Modular LH Controller',
    '804405-B21': 'HPE Smart Array P408e-p SR Gen10 (8 External Lanes/4GB Cache) 12G SAS PCIe Plug-in Controller',
    '804398-B21': 'HPE Smart Array E208e-p SR Gen10 (8 External Lanes/No Cache) 12G SAS PCIe Plug-in Controller',
    '869079-B21': 'HPE Smart Array E208i-a SR Gen10 (8 Internal Lanes/No Cache) 12G SAS Modular LH Controller',
    '804338-B21': 'HPE Smart Array P816i-a SR Gen10 (16 Internal Lanes/4GB Cache/SmartCache) 12G SAS Modular Controller',
    '804331-B21': 'HPE Smart Array P408i-a SR Gen10 (8 Internal Lanes/2GB Cache) 12G SAS Modular Controller',
    '804326-B21': 'HPE Smart Array E208i-a SR Gen10 (8 Internal Lanes/No Cache) 12G SAS Modular Controller',
    '870658-B21': 'HPE Smart Array P824i-p MR Gen10 (24 Internal Lanes/4GB Cache/CacheCade) 12G SAS PCIe Controller',
    '830824-B21': 'HPE Smart Array P408i-p SR Gen10 (8 Internal Lanes/2GB Cache) 12G SAS PCIe Plug-in Controller',
    '804394-B21': 'HPE Smart Array E208i-p SR Gen10 (8 Internal Lanes/No Cache) 12G SAS PCIe Plug-in Controller',
    'P01366-B21': 'HPE 96W Smart Storage Battery (up to 20 Devices) with 145mm Cable Kit',
  }

-
  let adapters = {
    '647594-B21': 'HPE Ethernet 1Gb 4-port 331T Adapter',
    '811546-B21': 'HPE Ethernet 1Gb 4-port 366T Adapter',
    '615732-B21': 'HPE Ethernet 1Gb 2-port 332T Adapter',
    '652497-B21': 'HPE Ethernet 1Gb 2-port 361T Adapter',
    '656596-B21': 'HPE Ethernet 10Gb 2-port 530T Adapter',
    '813661-B21': 'HPE Ethernet 10Gb 2-port 535T Adapter',
    '652503-B21': 'HPE Ethernet 10Gb 2-port 530SFP Adapter',
    '867707-B21': 'HPE Ethernet 10Gb 2-port 521T Adapter',
    '817738-B21': 'HPE Ethernet 10Gb 2-port 562T Adapter',
    '727055-B21': 'HPE Ethernet 10Gb 2-port 562SFP+ Adapter',
    '817718-B21': 'HPE Ethernet 10/25Gb 2-port 631SFP28 Adapter',
    '817753-B21': 'HPE Ethernet 10/25Gb 2-port 640SFP28 Adapter',
    '867328-B21': 'HPE Ethernet 10/25Gb 2-port 621SFP28 Adapter',
  }

-
  let warranty = {
    'C6N27A': 'HP Insight Control including 1yr 24x7 Technical Support and Updates Single Server License',
    'C6N28ABE': 'HP Insight Control including 1yr 24x7 Technical Support and Updates Electronic License',
    'C6N36A': 'HP Insight Control including 1yr 24x7 Support ProLiant ML/DL/BL-bundle Single Server FIO License',
    '512485-B21	': 'HP iLO Advanced including 1yr 24x7 Technical Support and Updates Single Server License',
    'BD505A': 'HP iLO Advanced 1 Server License with 3yr 24x7 Tech Support and Updates',
    'BD506AAE': 'HP iLO Advanced Electronic License with 3yr 24x7 Tech Support and Updates',
    'E6U59ABE': 'HP iLO Advanced including 1yr 24x7 Technical Support and Updates E-LTU',
    'E6U64ABE': 'HP iLO Advanced including 3yr 24x7 Technical Support and Updates E-LTU',
    'TA850AAE': 'HP iLO Advanced including 1yr 24x7 Technical Support and Updates Electronic License',
    'E6U61ABE': 'HP Integrated Lights-Out Essentials including 3yr 24x7 Technical Support and Updates E-LTU',
    'BD774A': 'HP Integrated Lights-Out Essentials including 3yr 24x7 Tech Support and Updates Single Svr License',
    'BD774AAE': 'HP Integrated Lights-Out Essentials including 3yr 24x7 Tech Support and Updates E-LTU',
    'BD775A': 'HP Integrated Lights-Out Essentials including 1yr 24x7 Tech Support and Updates Single Svr License',
    'BD776AAE': 'HP Integrated Lights-Out Scale-Out including 3yr 24x7 Tech Support and Updates Flex Qty E-LTU',
    'BD778A': 'HP Integrated Lights-Out Scale-Out 1yr 24x7 Tech Support and Updates Flex Quantity License',
    'BD778AAE': 'HP Integrated Lights-Out Scale-Out including 1yr 24x7 Tech Support and Updates Flex Qty E-LTU',
    'BD779A': 'HP Integrated Lights-Out Scale-Out including 1yr 24x7 Tech Support and Updates Tracking License',
    'Q7E31A': 'HPE iLO Advanced Premium Security Edition License with 1yr Support on Licensed Features',
    'Q7E32A': 'HPE iLO Advanced Premium Security Flex Qty License with 1yr Support on Licensed Features',
    'Q7E32AAE': 'HPE iLO Advanced Premium Security Edition Electronic License with 1yr Support on Licensed Features',
    'Q7E35A': 'HPE iLO Advanced Premium Security AKA Tracking License with 1yr Support on Licensed Features',
    'Q7E12AAE': 'HPE iLO Advanced Premium Security Upgrade Electronic License with 3yr Support on Licensed Features',
    'Q7E33A': 'HPE iLO Advanced Premium Security Edition License with 3yr Support on Licensed Features',
    'Q7E34A': 'HPE iLO Advanced Premium Security Flex Qty License with 3yr Support on Licensed Features',
    'Q7E34AAE': 'HPE iLO Advanced Premium Security Edition Electronic License with 3yr Support on Licensed Features',
    'Q7E36A': 'HPE iLO Advanced Premium Security AKA Tracking License with 3yr Support on Licensed Features',
  }
