-
    let garantData = [
        {
            title: 'Решение задачи «под ключ»',
            text: 'Закрытие всего спектра задач по построению отказоустойчивой инфраструктуры в «одном окне».',
        },
        {
            title: 'Экспертная оценка задач по проекту',
            text: 'Выявление «узких мест» проекта уже на этапе получения заявки на подбор оборудования.',
        },
        {
            title: 'Оптимизация сметы',
            text: 'Широкие возможности снижения стоимости закупки за счет подбора аналогов, широкой партнерской сети, предоставления прямых предложений от вендоров и особых условий от производителей.',
        },
        {
            title: 'Масштабируемые решения',
            text: 'Инженеры-консультанты с многолетним опытом обеспечат масштабируемость выбранных решений, выработают рекомендации по модернизации IT-инфраструктуры.',
        },
        {
            title: 'Выделенный инженер от первого звонка до пусконаладки',
            text: 'Без секретарей и бюрократии, с максимальным вовлечением в задачу заказчика. Оперативное привлечение вендора при необходимости.',
        },
        {
            title: 'Гибкие финансовые условия',
            text: 'Кредит, рассрочка или лизинг. Возможен старт без аванса. Бесплатные доставка и хранение.',
        },
    ]

.garant
    .wrapper
        h2.garant__title.section-title Гарантированная стабильность вашей IT-инфраструктуры
        p.garant__desc Принципы работы EXASystems – вне зависимости от масштабов заказа. Внимание к деталям даже на небольшом объеме закупки.
        .garant__items
            each garant, i in garantData
                .garant__items-item
                    .garant__items-img
                        img(src=`./assets/img/2garant/${i+1}.png` alt="")
                    .garant__items-text
                        p.garant__items-title !{garant.title}
                        p.text-gray !{garant.text}

