.garant
    .wrapper
        h2.garant__title.section-title Гарантированная стабильность вашей IT-инфраструктуры
        p.garant__desc Принципы работы EXASystems – вне зависимости от масштабов заказа. Внимание к деталям даже на небольшом объеме закупки.
        .garant__items
            .garant__items-item
                .garant__items-img
                    img(src="./assets/img/2garant/1.png" alt="")
                .garant__items-text
                    p.garant__items-title Решение задачи «под ключ»
                    p.text-gray Закрытие всего спектра задач по построению отказоустойчивой инфраструктуры в «одном окне».
            .garant__items-item
                .garant__items-img
                    img(src="./assets/img/2garant/2.png" alt="")
                .garant__items-text
                    p.garant__items-title Экспертная оценка задач по проекту
                    p.text-gray Выявление «узких мест» проекта уже на этапе получения заявки на подбор оборудования.
            .garant__items-item
                .garant__items-img
                    img(src="./assets/img/2garant/3.png" alt="")
                .garant__items-text
                    p.garant__items-title Оптимизация сметы
                    p.text-gray Широкие возможности снижения стоимости закупки за счет подбора аналогов, широкой партнерской сети, предоставления прямых предложений от вендоров и особых условий от производителей.
            .garant__items-item
                .garant__items-img
                    img(src="./assets/img/2garant/4.png" alt="")
                .garant__items-text
                    p.garant__items-title Масштабируемые решения
                    p.text-gray Инженеры-консультанты с многолетним опытом обеспечат масштабируемость выбранных решений, выработают рекомендации по модернизации IT-инфраструктуры.
            .garant__items-item
                .garant__items-img
                    img(src="./assets/img/2garant/5.png" alt="")
                .garant__items-text
                    p.garant__items-title Выделенный инженер от первого звонка до пусконаладки
                    p.text-gray Без секретарей и бюрократии, с максимальным вовлечением в задачу заказчика. Оперативное привлечение вендора при необходимости.
            .garant__items-item
                .garant__items-img
                    img(src="./assets/img/2garant/6.png" alt="")
                .garant__items-text
                    p.garant__items-title Гибкие финансовые условия
                    p.text-gray Кредит, рассрочка или лизинг. Возможен старт без аванса. Бесплатные доставка и хранение.
