.numbers
  .wrapper
    .numbers__inner
      h2.numbers__title.section-title Работа с EXASystems: сухие цифры
      p.numbers__text.numbers__text_bold Когда цифры говорят сами за себя
      .numbers__content
        .numbers__left
          p.numbers__text.numbers__text_bold Без привлечения третьих лиц <br /> Без посредников и субподрядчиков
          p.numbers__huge 100%
          .numbers__control
            span.numbers__medium.numbers-green 100%
            p.numbers__text.numbers__text_right Контроль всех этапов. Подбор, проверка, доставка, монтаж и пусконаладка – заказчик в курсе всех процессов

        .numbers__right
          .numbers__info
            .numbers__item
              p.numbers__medium 14 дней
              p.numbers__text 2-х недельное тестирование оборудования до отгрузки. Заказчик получает проверенное оборудование, никаких сюрпризов при запуске.
            .numbers__item
              p.numbers__medium.numbers-blue 67%
              p.numbers__text Заказчиков приходят по рекомендации. «Сарафан» - предмет нашей гордости и подтверждение качества наших работ.
          p.numbers__big 100 000$
          p.numbers__text.numbers__text_bold.numbers__ensure На такую сумму страхуется оборудование
