.quote
  .wrapper
    .quote__inner
      .quote__content
        .quote__slogan
          img.quote__symbol(src='assets/img/8quote/quotes.png')
          p.quote__slogan-text Мы гарантируем быстрый и профессиональный ответ на запрос заказчика. Никаких секретарей и «менеджеров», только прямая связь с инженером

        .quote__img
          img(src='assets/img/8quote/man.png')

      .quote__person
        img(src='assets/img/8quote/photo.png')
        .quote__info
          p.quote__text.bold Ефаненков Анатолий Анатольевич
          p.quote__text Директор по продажам, сооснователь
