-
  let reviewsData = [
    {
      name: 'svp',
      logo: true,
      text: 'Благодарность от компании <b>«СПЕЦВИДЕОПРОЕКТ»</b> за своевременную поставку, монтаж и настройку оборудования, в результате чего ей удалось оперативно переехать в новый офис и обновить ИТ-инфраструктуру.'
    },
    {
      name: 'spaarmann',
      logo: true,
      text: 'Немецкая логистическая компания C. <b>Spaarmann GmbH</b> рекомендует команду Exasystems к сотрудничеству, которая произвела ее успешный переход на удаленный режим работы и снизила расходы на ИТ.'
    },
    {
      name: 'is',
      text: '<b>ООО "ППП Искусственные сооружения"</b> выражает благодарность за ответственный подход к сотрудничеству в проекте по модернизации СКС. Проектные и монтажные работы были выполнены с надлежащим качеством при строгом соблюдении технологии и сроков выполнения.'
    },
    {
      name: 'ascott',
      text: 'Компания <b>АО "Аскот Деко Рус"</b>  выражает благодарность компании ООО "Экзасистемс" за качественно выполненный монтаж слаботочных и силовых сетей, системы контроля и управления доступом в новом офисе.'
    },
    {
      name: 'intime',
      text: 'Компания <b>ООО "Интайм-Проект"</b> выражает ООО "Экзасистемс" свою искреннюю благодарность за оперативную поставку компьютерного оборудования.'
    },
    {
      name: 'luho',
      logo: true,
      text: '<b>Луховицкие электронные средства информации и связи</b> благодарит за успешную реализацию проекта по подбору и поставке серверного оборудования.'
    }
  ]

.reviews
  .wrapper
    .reviews__inner
      h2.reviews__title.section-title Отзывы о работе с EXASystems
      p.reviews__subtitle Долгосрочное партнерство с клиентами – ключевой ориентир в работе EXASystems
      .reviews__slider.slider.hide
        each slide in reviewsData
          .reviews__slide
            .reviews__item
              img.reviews__img(src=`assets/img/9reviews/${slide.name}.jpg`)
              .reviews__content
                if (slide.logo)
                  img.reviews__logo(src=`assets/img/9reviews/logo-${slide.name}.png`)
                p.reviews__text !{slide.text}
                a.reviews__link(href=`assets/img/9reviews/${slide.name}.jpg` target="_blank") Посмотреть оригинал

      .reviews__line
        +sliderLine()
