-
   let selectionFeatures = [
     'Предложено несовместимое или устаревшее оборудование',
     'Оборудование не отвечает заявленным требованиям',
     'Определены неверные характеристики оборудования',
     'Неправильно сделан сайзинг',
     'Оборудование не подлежит модернизации',
     'Некорректно подсчитаны юниты, мощность',
     'В проекте не предусмотрены критически выжные узлы',
     'Некорректно подобрана лицензионная политика',
     'Неточный расчет отвода тепла'
   ]


.selection
  .selection__bg-wrap
    .selection__bg

  .wrapper
    .selection__inner
      .selection__content
        .selection__title.section-title Профессиональный подбор оборудования по заявке
        .selection__subtitle Оперативная проверка на наличие на складе в Москве. Подготовка расчета за 60 мин. даже для сложных спецификаций и формирования спецификации от разных вендоров.
        .selection__features.features.features_green
          ul.features__list
             each feature in selectionFeatures
               li.features__item #{feature}
      .selection__form
        +form({type: 'selection'})
