-
   let vendors = [
      'lenovo',
      'hp',
      'dell',
      'supermicro',
      'abbyy',
      'acronis',
      'altex soft',
      'apc',
      'apstra',
      'astra linux',
  ]

//&11
//background-image: url(../img/6vendors/broadcom.png)
//
//&12
//background-image: url("../img/6vendors/cambium networks.png")
//
//&13
//background-image: url("../img/6vendors/check point.png")
//
//&14
//background-image: url(../img/6vendors/cisco.png)
//
//&15
//background-image: url(../img/6vendors/citrix.png)
//
//&16
//background-image: url(../img/6vendors/commvault.png)
//
//&17
//background-image: url(../img/6vendors/corel.png)
//
//&18
//background-image: url(../img/6vendors/dahua.png)
//
//&19
//background-image: url(../img/6vendors/datacore.png)
//
//&20
//background-image: url("../img/6vendors/dell emc.png")
//
//&21
//background-image: url("../img/6vendors/dr web.png")
//
//&22
//background-image: url(../img/6vendors/eaton.png)
//
//&23
//background-image: url(../img/6vendors/eset.png)
//
//&24
//background-image: url(../img/6vendors/extreme.png)
//
//&25
//background-image: url(../img/6vendors/falcongaze.png)
//
//&26
//background-image: url(../img/6vendors/fortinet.png)
//
//&27
//background-image: url("../img/6vendors/fudo security.png")
//
//&28
//background-image: url(../img/6vendors/fujitsu.png)
//
//&29
//background-image: url(../img/6vendors/hikvision.png)
//
//&30
//background-image: url(../img/6vendors/hitachi.png)
//
//&31
//background-image: url(../img/6vendors/honeywell.png)
//
//&32
//background-image: url("../img/6vendors/hp enterprise.png")
//
//&33
//background-image: url(../img/6vendors/huawei.png)
//
//&34
//background-image: url(../img/6vendors/ibm.png)
//
//&35
//background-image: url("../img/6vendors/indeed id.png")
//
//&36
//background-image: url(../img/6vendors/infortrend.png)
//
//&37
//background-image: url(../img/6vendors/infotecs.png)
//
//&38
//background-image: url(../img/6vendors/infowatch.png)
//
//&39
//background-image: url("../img/6vendors/intel.png")
//
//&40
//background-image: url(../img/6vendors/juniper.png)
//
//&41
//background-image: url(../img/6vendors/kaspersky.png)
//
//&42
//background-image: url("../img/6vendors/kemp.png")
//
//&43
//background-image: url(../img/6vendors/kingston.png)
//
//&44
//background-image: url("../img/6vendors/kyocera.png")
//
//&45
//background-image: url("../img/6vendors/mcaffee.png")
//
//&46
//background-image: url(../img/6vendors/mellanox.png)
//
//&47
//background-image: url("../img/6vendors/micro focus.png")
//
//&48
//background-image: url(../img/6vendors/microsemi.png)
//
//&49
//background-image: url(../img/6vendors/microsoft.png)
//
//&50
//background-image: url(../img/6vendors/netapp.png)
//
//&51
//background-image: url("../img/6vendors/numa tech.png")
//
//&52
//background-image: url("../img/6vendors/nutanix.png")
//
//&53
//background-image: url("../img/6vendors/nvidia.png")
//
//&54
//background-image: url(../img/6vendors/oracle.png)
//
//&55
//background-image: url(../img/6vendors/paloalto.png)
//
//&56
//background-image: url(../img/6vendors/parallels.png)
//
//&57
//background-image: url(../img/6vendors/perco.png)
//
//&58
//background-image: url(../img/6vendors/pny.png)
//
//&59
//background-image: url("../img/6vendors/positive technologies.png")
//
//&60
//background-image: url(../img/6vendors/powercom.png)
//
//&61
//background-image: url(../img/6vendors/qnap.png)
//
//&62
//background-image: url(../img/6vendors/raidix.png)
//
//&63
//background-image: url("../img/6vendors/red hat.png")
//
//&64
//background-image: url("../img/6vendors/rusiem.png")
//
//&65
//background-image: url(../img/6vendors/samurai.png)
//
//&66
//background-image: url(../img/6vendors/scalemp.png)
//
//&67
//background-image: url(../img/6vendors/seagate.png)
//
//&68
//background-image: url(../img/6vendors/sentinelone.png)
//
//&69
//background-image: url(../img/6vendors/sophos.png)
//
//&70
//background-image: url(../img/6vendors/supermicro.png)
//
//&71
//background-image: url(../img/6vendors/symantec.png)
//
//&72
//background-image: url(../img/6vendors/toshiba.png)
//
//&73
//background-image: url(../img/6vendors/trendmicro.png)
//
//&74
//background-image: url(../img/6vendors/tripplite.png)
//
//&75
//background-image: url(../img/6vendors/usergate.png)
//
//&76
//background-image: url(../img/6vendors/varonis.png)
//
//&77
//background-image: url(../img/6vendors/veeam.png)
//
//&78
//background-image: url(../img/6vendors/veritas.png)
//
//&79
//background-image: url(../img/6vendors/vertiv.png)
//
//&80
//background-image: url(../img/6vendors/vmware.png)
//
//&81
//background-image: url(../img/6vendors/xerox.png)
//
//&82
//background-image: url(../img/6vendors/zerto.png)
//
//&83
//background-image: url(../img/6vendors/zyxel.png)
//
//&84
//background-image: url("../img/6vendors/Аладдин рд.png")
//
//&85
//background-image: url(../img/6vendors/аэродиск.png)
//
//&86
//background-image: url("../img/6vendors/код безопасности.png")
//
//&87
//background-image: url(../img/6vendors/кцт.png)
//
//&88
//background-image: url(../img/6vendors/нзс.png)
//
//&89
//background-image: url(../img/6vendors/нтб.png)
//
//&90
//background-image: url("../img/6vendors/технологии бесконечности.png")
//
//&91
//background-image: url(../img/6vendors/форсайт.png)
//   ]


.vendors
  .wrapper
    .vendors__inner
      h2.vendors__title.section-title Вендоры
      p.vendors__subtitle Прямые поставки от производителей оборудования и лицензионного ПО
      .vendors__slider.slider.hide
        each slide in vendors
          .vendors__slide
            .vendors__img
              img(src=`assets/img/7vendors/${slide}.png`)
              img.vendors__shadow(src=`assets/img/7vendors/shadow.png`)


      .vendors__line
        +sliderLine()
