-
   let vendors = [
      'lenovo',
      'hp',
      'dell',
      'supermicro',
      'abbyy',
      'acronis',
      'altex soft',
      'apc',
      'apstra',
      'astra linux',
      'broadcom',
      'cambium networks',
      'check point',
      'cisco',
      'citrix',
      'commvault',
      'corel',
      'dahua',
      'datacore',
      'dell emc',
      'dr web',
      'eaton',
      'eset',
      'extreme',
      'falcongaze',
      'fortinet',
      'fudo security',
      'fujitsu',
      'hikvision',
      'hitachi',
      'honeywell',
      'hp enterprise',
      'huawei',
      'ibm',
      'indeed id',
      'infortrend',
      'infotecs',
      'infowatch',
      'intel',
      'juniper',
      'kaspersky',
      'kemp',
      'kingston',
      'kyocera',
      'mcaffee',
      'mellanox',
      'micro focus',
      'microsemi',
      'microsoft',
      'netapp',
      'numa tech',
      'nutanix',
      'nvidia',
      'oracle',
      'paloalto',
      'parallels',
      'perco',
      'pny',
      'positive technologies',
      'powercom',
      'qnap',
      'raidix',
      'red hat',
      'rusiem',
      'samurai',
      'scalemp',
      'seagate',
      'sentinelone',
      'sophos',
      'supermicro',
      'symantec',
      'toshiba',
      'trendmicro',
      'tripplite',
      'usergate',
      'varonis',
      'veeam',
      'veritas',
      'vertiv',
      'vmware',
      'xerox',
      'zerto',
      'zyxel',
      'Аладдин рд',
      'аэродиск',
      'код безопасности',
      'кцт',
      'нзс',
      'нтб',
      'технологии бесконечности',
      'форсайт',
  ]




.vendors
  .wrapper
    .vendors__inner
      h2.vendors__title.section-title Вендоры
      p.vendors__subtitle Прямые поставки от производителей оборудования и лицензионного ПО
      .vendors__slider.slider.hide
        each slide in vendors
          .vendors__slide
            .vendors__img
              img(src=`assets/img/7vendors/${slide}.png`)
              img.vendors__shadow(src=`assets/img/7vendors/shadow.png`)


      .vendors__line
        +sliderLine()
