extends ../layout/main

block variables
   - let title = 'EXASystems'
   - let pageType = "server"

block content
   include ..//includes/modules/header
   include ..//includes/modules/other/product
   include ..//includes/modules/map


   include ..//includes/popups/full
   include ..//includes/popups/price
   include ..//includes/popups/callback
   include ..//includes/popups/ok





