extends ../layout/main

block variables
   - let title = 'EXASystems'
   - let type = "server"

block content
   include ..//includes/modules/header
   //include ..//includes/modules/garant
   include ..//includes/modules/equip
   include ..//includes/modules/products-wrap
   include ..//includes/modules/projects


