extends ../layout/main

block variables
   - let title = 'EXASystems'
   - let pageType = "sks"

block content
   include ..//includes/modules/sks/header
   include ..//includes/modules/sks/quiz
   include ..//includes/modules/sks/offer
   include ..//includes/modules/sks/mount
   include ..//includes/modules/sks/manager
   include ..//includes/modules/sks/clients
   include ..//includes/modules/sks/projects
   include ..//includes/modules/sks/video
   include ..//includes/modules/sks/services
   include ..//includes/modules/map

   include ..//includes/popups/full
   include ..//includes/popups/price
   include ..//includes/popups/callback
   include ..//includes/popups/ok
   include ..//includes/popups/manager
   include ..//includes/popups/price-big
   include ..//includes/popups/policy

