extends ../layout/main

block variables
   - let title = 'EXASystems'
   - let pageType = "storage"

block content
  include ..//includes/modules/header
  include ..//includes/modules/popular
  include ..//includes/modules/garant
  include ..//includes/modules/equip
  include ..//includes/modules/products-wrap
  include ..//includes/modules/projects
  include ..//includes/modules/numbers
  include ..//includes/modules/vendors
  include ..//includes/modules/quote
  include ..//includes/modules/reviews
  include ..//includes/modules/consult
  include ..//includes/modules/team
  include ..//includes/modules/map


  include ..//includes/popups/full
  include ..//includes/popups/price
  include ..//includes/popups/callback
  include ..//includes/popups/ok
