.modal-bg.modal-policy
  .modal-content
    .close
      +svg('close', 'modal-close')

    h2.modal-policy__title.section-title Политика в области обработки персональных данных

    h3 1. Назначение и область применения
    p.
      Настоящая Политика в области обработки персональных данных (далее — Политика)
      разработана на основании ст.18.1 Федерального закона № 152-ФЗ «О персональных данных», с
      учетом требований Конституции Российской Федерации, Конвенции Совета Европы о защите
      физических лиц при автоматизированной обработке персональных данных, международных
      договоров Российской Федерации, федеральных законов и иных нормативных правовых актов
      Российской Федерации в области персональных данных.
      Действие настоящей Политики распространяется на отношения по обработке и
      обеспечению безопасности информации ограниченного доступа, относящейся в соответствии с
      законодательством Российской Федерации к персональным данным (далее — ПДн).
      Настоящая Политика определяет принципы, цели, порядок и условия обработки ПДн
      ООО «Экзасистемс» (далее — Компания) субъектов, чьи ПДн обрабатываются Компанией. В
      настоящей Политике содержатся положения об ответственности Компании и ее работников в случае
      выявления нарушений обработки ПДн законодательству.
      Настоящая Политика является общедоступным документом и опубликована на
      официальном сайте Компании в сети Интернет.
      Действие настоящей Политики не распространяется на отношения, возникающие при:
      – организации хранения, комплектования, учета и использования содержащих
      персональные данные документов, имеющих статус архивных документов в соответствии с
      законодательством об архивном деле в Российской Федерации,
      – обработке персональных данных, отнесенных в установленном порядке к сведениям,
      составляющим государственную тайну.
      Положениями настоящей Политики руководствуются все работники Компании.

    h3 2. Обозначения и сокращения
    p.
      ПДн – Персональные данные.
      ИСПДн – Информационная система персональных данных.
      НСД – Несанкционированный доступ.

    h3 3. Принципы обработки персональных данных
    p.
      Обработка ПДн осуществляется в Компании на основе следующих принципов:
      – обработка ПДн осуществляется на законной и справедливой основе;
      – обработка ПДн ограничена достижением конкретных, заранее определенных и законных
      целей;
      – Компания не обрабатывает ПДн, несовместимые с целями сбора персональных данных;
      – Компания разделяет базы данных, содержащие ПДн, обработка которых осуществляется
      в целях, несовместимых между собой;
      – Компания обрабатывает только ПДн, которые отвечают целям их обработки;
      – содержание и объем обрабатываемых ПДн соответствуют заявленным целям обработки;
      – обрабатываемые ПДн не являются избыточными по отношению к заявленным целям их
      обработки;
      – при обработке ПДн обеспечиваются точность ПДн, их достаточность, а в необходимых
      случаях и актуальность по отношению к целям обработки ПДн;
      – принимаются необходимые меры либо обеспечиваться их принятие по удалению или
      уточнению неполных или неточных ПДн;
      – хранение ПДн осуществляется в форме, позволяющей определить субъекта ПДн, не
      дольше, чем этого требуют цели обработки ПДн, если срок хранения ПДн не установлен
      федеральным законом, договором, стороной которого, выгодоприобретателем или поручителем по
      которому является субъект ПДн;
      – обрабатываемые ПДн уничтожаются либо обезличиваются по достижении целей
      обработки или в случае утраты необходимости в достижении этих целей, если иное не
      предусмотрено федеральным законом.

    h3 4. Цели обработки персональных данных
    p.
      Компания осуществляет обработку персональных данных в целях осуществления
      деятельности Компании согласно законодательству Российской Федерации и Уставу Компании.

    h3 5. Категории субъектов персональных данных
    p.
      Субъектами, ПДн которых обрабатываются в Компании с использованием средств
      автоматизации или без использования таковых, являются:
      – контрагенты Компании, представленные индивидуальными предпринимателями, их
      работниками; учредителями, руководителями, представителями (лицами, действующими на
      основании доверенностей) и работниками юридических лиц, имеющих или имевших договорные
      отношения с Компанией, либо желающих заключить договоры с Компанией;
      – посетители Компании;
      – иные лица, обработка ПДн, которых необходима Компании для осуществления целей,
      указанных в разделе 4 настоящей Политики.

    h3 6. Категории персональных данных
    p.
      В Компании обрабатываются следующие категории ПДн:
      – ПДн общей категории (иные ПДн), которые не могут быть отнесены к специальным
      категориям персональных данных, к биометрическим персональным данным или к общедоступным
      ПДн;
      – общедоступные ПДн.

    h3 7. Состав лиц, организующих и участвующих в обработке и обеспечении безопасности персональных данных
    p.
      В Компании назначено лицо, ответственное за организацию обработки ПДн.
      В Компании назначено лицо, ответственное за обеспечение безопасности ПДн и ИСПДн.
      В Компании назначены лица, ответственные за организацию обработки ПДн в структурных
      подразделениях.
      В обработке ПДн в Компании участвуют работники в рамках выполнения своих
      должностных обязанностей.

    h3 8. Обработка и обеспечение безопасности персональных данных
    p.
      8.1. Обработка и порядок прекращения обработки персональных данных
      Обработка ПДн в Компании допускается в следующих случаях:
      – обработка ПДн осуществляется с согласия субъекта ПДн на обработку его ПДн;
      – обработка ПДн необходима для исполнения договора, стороной которого либо
      выгодоприобретателем или поручителем по которому является субъект ПДн, в том числе в случае
      реализации оператором своего права на уступку прав (требований) по такому договору, а также для
      заключения договора по инициативе субъекта ПДн или договора, по которому субъект ПДн будет
      являться выгодоприобретателем или поручителем;
      – обработка ПДн необходима для осуществления прав и законных интересов оператора
      или третьих лиц, либо для достижения общественно значимых целей при условии, что при этом не
      нарушаются права и свободы субъекта ПДн;
      – обработка ПДн осуществляется в статистических или иных исследовательских целях,
      при условии обязательного обезличивания ПДн. Исключение составляет обработка ПДн в целях
      продвижения товаров, работ, услуг на рынке путем осуществления прямых контактов с
      потенциальным потребителем с помощью средств связи, а также в целях политической агитации;
      – осуществляется обработка ПДн, доступ неограниченного круга лиц к которым
      предоставлен субъектом ПДн, либо по его просьбе;
      – осуществляется обработка ПДн, подлежащих опубликованию или обязательному
      раскрытию в соответствии с федеральным законом;
      – а также обработка ПДн Компанией возможна в иных случаях, предусмотренных
      федеральным законодательством.
      Включение Компанией ПДн субъектов в общедоступные источники ПДн возможно только
      в случае наличия требований федерального законодательства, либо в случае получения
      письменного согласия субъекта ПДн.
      Компания осуществляет трансграничную передачу ПДн в целях исполнения договорных
      обязательств с контрагентами только на в случае наличия письменного согласия субъекта ПДн.
      Компанией не осуществляется принятие решений, порождающих юридические
      последствия в отношении субъекта ПДн или иным образом затрагивающих его права и законные
      интересы на основании исключительно автоматизированной обработки ПДн
      Компания вправе поручить обработку ПДн другому лицу только с согласия субъекта ПДн,
      если иное не предусмотрено федеральным законом, на основании заключаемого с этим лицом
      договора (далее — поручение оператора). При этом Компания обязывает лицо, осуществляющее
      обработку ПДн по поручению, соблюдать принципы и правила обработки ПДн, предусмотренные
      федеральным законом. В случае если Компания поручает обработку ПДн другому лицу,
      ответственность перед субъектом ПДн за действия указанного лица несет Компания. Лицо,
      осуществляющее обработку ПДн по поручению Компании, несет ответственность перед
      Компанией.
      Компания обязуется и обязывает иных лиц, получивших доступ к ПДн не раскрывать
      третьим лицам и не распространять ПДн без согласия субъекта ПДн, если иное не предусмотрено
      федеральным законом.
      Обработка Компанией ПДн прекращается в следующих случаях:
      – достижение целей обработки ПДн;
      – истечение срока обработки ПДн, предусмотренного федеральным законодательством,
      договором или согласием субъекта ПДн на обработку его ПДн;
      – при отзыве субъектом ПДн согласия на обработку его ПДн, в случаях, не
      противоречащих требованиям федерального законодательства.
      8.2. Сведения о реализуемых требованиях по защите персональных данных
      Компания принимает все необходимые правовые, организационные и технические меры
      при обработке ПДн для защиты ПДн от неправомерного или случайного доступа к ним,
      уничтожения, изменения, блокирования, копирования, предоставления, распространения, а также
      от иных неправомерных действий в отношении ПДн.
      Реализуются меры по организации обработки и обеспечению безопасности ПДн,
      обрабатываемых без средств автоматизации, в том числе:
      – для каждой категории ПДн определены места хранения ПДн (материальных носителей)
      и установлен перечень лиц, осуществляющих обработку ПДн и имеющих к ним доступ;
      – обеспечено раздельное хранение ПДн (материальных носителей), обработка которых
      осуществляется в различных целях;
      – соблюдаются условия, обеспечивающие сохранность ПДн и исключающие
      несанкционированный к ним доступ при хранении материальных носителей.
      Реализуются меры по защите ПДн при их обработке в информационных системах ПДн, в
      том числе:
      – определяется уровень защищенности ПДн при их обработке в информационных
      системах;
      – выполняются требования по защите ПДн в информационных системах ПДн в
      соответствии с определенными уровнями защищенности ПДн;
      – применяются необходимые средства защиты информации;
      – осуществляется оценка эффективности принимаемых мер по обеспечению безопасности
      ПДн до ввода в эксплуатацию ИСПДн;
      – осуществляется учет машинных носителей ПДн;
      – осуществляется обнаружение фактов НСД к ПДн и принятие необходимых мер;
      – осуществляется восстановление ПДн, модифицированных или уничтоженных
      вследствие НСД к ним;
      – устанавливаются правила доступа к ПДн, обрабатываемым в ИСПДн, а также
      обеспечивается регистрация и учет действий, совершаемых с ПДн в ИСПДн, там, где это
      необходимо;
      – контролируются принимаемые меры по обеспечению безопасности ПДн и уровень
      защищенности ИСПДн.

    h3 9. Нарушение политики и ответственность
    p.
      Компания несет ответственность за соответствие обработки и обеспечение безопасности
      персональных данных законодательству. Все работники Компании, осуществляющие обработку
      персональных данных, несут ответственность за соблюдение настоящей Политики и иных
      локальных актов Компании по вопросам обработки и обеспечению безопасности персональных
      данных.
      Любой работник, которому стало известно о нарушении настоящей Политики или который
      подозревает о существовании такого нарушения, должен сообщить об этом лицу, ответственному
      за организацию обработки ПДн, в соответствии с существующими в Компании процедурами.
      Любые нарушения настоящей Политики и иных локальных актов Компании по вопросам
      обработки и обеспечению безопасности персональных данных будут расследоваться в соответствии
      с действующими в Компании процедурами.
      Лица, признанные виновными в нарушении установленных порядка и процедур обработки
      и обеспечения безопасности персональных данных, могут быть привлечены к дисциплинарной,
      материальной, гражданско-правовой, административной и уголовной ответственности в порядке,
      установленном законодательством Российской Федерации.
