.product
  .wrapper
    .product__inner
      p Вычислительная система EXA POWER 3U / 2xIntel® Xeon®Gold 6226R / 256 Gb 2933MHz 2Rx4 DIMM Registred ECC /NVMe PCIe 1Tb Samsung m.2 / 2x Toshiba SATA-III 6Tb Enterprise Capacity (7200rpm) 256Mb 3.5" / NVIDIA TESLAA100 PCIe Gen4 GPU Memory 80 GB / 2x1000W / Kb / Ms / 3года гарантии
      table.product__table
        thead
          th В составе
          th.value Количество
        tbody
          tr
            td Платформа SuperMicro 3U, 16x3.5"HDD, Single SAS3 (12Gbps) expanders, 3xPCI-E DSub 2xGbLAN SATA RAID E-ATX 16DDR4, 2x1000W
            td 1
          tr
            td Оперативная память DDR4 32GB RDIMM 2933MHz
            td 8
          tr
            td Накопитель SSD M.2 (PCI-E NVMe) 1Tb Enterprise
            td 2
          tr
            td Процессор Intel Xeon Gold 2.9GHz/22.00Mb/16cores
            td 2
          tr
            td Жестикй диск 3.5" SATA 6ТB, 7200rpm, 256MB buffer, Enterprise
            td 2
          tr
            td Графический ускоритель вычислений nVidia A100 80Gb HBM2
            td 1
          tr.last
            td Итого в т.ч. НДС 20%
            td 1 999 850,00

      img.product__img(src='assets/img/common/1.jpg')
      p.product__warning Изображение реального изделия может отличатся от представленного на фото
      button.btn.product__btn(data-modal='full') Запросить прайс
