.video
  .wrapper
    h2.video__title.section-title Каждый третий заказчик обращается в&nbsp;EXASystems снова либо рекомендует коллегам
    .video__inner
      .video__item
        .video__item-content
          +svg(`chat`, 'video__item-img')
          .video__item-text За 2 дня демонтировали старую СКС в офисе и смонтировали новую на 34 места
        .video__item-reviews
          .video__item-bg.bg1
          .video__item-video.rel.rel_16-9
            iframe.rel-child(src='https://www.youtube.com/embed/_p7i1X9mLkY?autoplay=1&rel=0' title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
      .video__item
        .video__item-content
          +svg(`chat`, 'video__item-img')
          .video__item-text Смонтировали СКС в новом офисе <br> за одно воскресенье
        .video__item-reviews
          .video__item-bg
          .video__item-video.rel.rel_16-9
            iframe.rel-child(src='https://www.youtube.com/embed/8FK1D89U16c?autoplay=1&rel=0' title="YouTube video player" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
